.input-neon {
    font-size: 1rem;
    color: var(--clr-neon);
    width: 20rem;
    opacity: 0.7;
    background-color: var(--clr-bg);
    border-radius: 0.25em;
    border: var(--clr-neon) .125em solid;
    pointer-events: none;

    box-shadow: inset 0 0 0.5em var(--clr-neon),
    0 0 0.5em var(--clr-neon);
    position: relative;
}

.input-neon__input {
    pointer-events: all;
    background-color: transparent;
    font-size: 1rem;
    color: var(--clr-neon);
    padding: 0.5rem 0.5rem;
    border: none;
    width: 100%;
    height: 100%;
    text-shadow:
    0 0 0.125em hsl(0 0% 100% / .3),
    0 0 0.45em currentColor;
}

.input-neon__input:focus {
    outline: none;
}

.input-neon::before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--clr-neon);
    width: 100%;
    height: 100%;

    transform: perspective(1.5em) rotateX(20deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: .7;
} 


.input-neon::after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 2em .5em var(--clr-neon);
    transition: opacity 100ms linear;
}


.input-neon:hover::before {
    opacity: 1;
}

.input-neon:hover::after {
    opacity: 1;
}